.outer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url(https://giffiles.alphacoders.com/142/14261.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.main{
    display: flex;
    margin: 50px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 50%;
    border: 5px solid white;
    background-color: black;
}

h1 {
    color: coral;
    font-size: 3em;
}

.points{
    text-align: center;
}

h2, h4, p {
    color: goldenrod;
}

.points > button{
    margin: 10%;
}

.question{
    text-align: center;
}

.answer{
    text-align: center;
}

.first{
    color: #e3f122;
}

.second{
    color: lightcoral;
}

.extra{
    display: flex;
}